<link rel="stylesheet" href="/GmazelEmma-hot-topics/css/style.css">

<article>
    <div class="flex-container">
        <div class="flex-item">
            <figure>
                <h2>The Value Of Money</h2>
                <div class="figure-container">
                    <img src="./img/money.jpg" alt=" money on table" class="figure-img">
                    <figcaption>What is your value of money?</figcaption>
                </div>
            </figure>
        </div>

        <p class="flex-item">
            How important is the value of money? Can money make you happy or is it just to survive? These are all questions that surround the value of money. The value of money can represent different virtues and values based on the individual. The value of money is based on a persons well-being, life goals and desires. Some people value money on whether or not they can pay the bills. Som epeople value money on the basis of if they can buy everything they want and travelwherever they want without a worry. Somepeople continuously put themselves in debt to fulfill a need that brings them joy. 
        
            Money has the value based on the indivdual and their happiness. Overall, the value of money to me means livig comfortably in order to enjoy a stress free life. </p>
    </div>
</article>

    
        <div class="flex-container">
            <figure>
                <h2> GMO Food</h2>
                <div class="figure-container">
                    <img src="./img/tree-in-hand.jpg" alt="tree in hand" class="figure-img">
                    <figcaption>A tree resembles the natural earth we survive off of</figcaption>
                </div>
            </figure>
       
        <p class="flex-item">
            GMO Food is genetically modified food. These foods are considered  unhealthy and unsafe. They are modified and harmful to the earth. These foods are created from organisms whose genetic material has been modified in a way that is unnatural.
            
            Genetically modified food is effecting the ecosystem and the natural way of the planet. it is estimated that soon this could remove allergens from some food. This is something that the WHO has predicited but also advised against. These foods need to be tested for safety before they reach the market. 
        
        </p>
    </div>

    <div class="flex-container">
        <figure>
            <h2>The View of World in 2100</h2>
            <div class="figure-caption">
                <img src="./img/future.jpg" alt="Image of future technology" class="figure-img">
                <figcaption>The future of 2100 is in our hands</figcaption>
            </div>
        </figure>
    
    <p class="flex-item">
        For many we want to beleive the world in 2100 will behighly based on technology. Many picture flying cars and teleportation. We have houses high in the sky and the threat ofclimate change and global warming has disappeared cause our goverments have taken the appropriate steps to do this. 

       According to the Washington post, the world population is expected to be around 11.2 billion people in 2100. It is predicted that the world will be hotter with more chaotic weather patterns and even more natural disasters. Although, this wouldlargely depend on our actions over the next 78 years.  

       </p>
</div>
