
<link rel="stylesheet" href="/GmazelEmma-hot-topics/css/style.css">

<section class="portfolio">
    <h2>Portfolio</h2>
    <div class="card">
        <a href="#"></a>
        <img src="./img/elephants.PNG"alt="elephants" class="img">
        <div class="card-container">
            <h3>Elephant Drawing</h3>
            <p>Here is an image I drew of elephants. This was created on procreate with an IPAD. </p>
        </div>
    </div>

    <div class="card">
        <a href="#">
        
        </a>
        <img src="./img/emma .jpg"alt="typography" class="">
        <div class="card-container">
            <h3>Typography Assignment</h3>
            <p>This was an inforgraphic that was created using only typefaces. It was created in semester one of the IMM Program.</p>
        </div>
    </div>

    <div class="card">
        <a href="#">
        
        </a>
        <img src="./img/front-business-card.jpg"alt="business card" class="">
        <div class="card-container">
            <h3>EG Designs Business card</h3>
            <p>This was a business card that was created to promote my own personal brand. It was created using Adobe Illustrator.</p>
        </div>
    </div>
    <div class="card">
        <a href="#">
        
        </a>
        <img src="./img/gab-and-glitter.jpg"alt="business card" class="">
        <div class="card-container">
            <h3>Gab and Glitter Photograph</h3>
            <p>This was an image i had taken of my friend during a ManRay inspired photoshoot.I added the glitter in photoshop for a fun effect.</p>
        </div>
    </div>
<div class="card">
    <a href="#">
    
    </a>
    <img src="./img/habitrail-logo.jpg"alt="business card" class="">
    <div class="card-container">
        <h3>Habitrail Logo</h3>
        <p>This was a logo I had designed during a website redesign assignment in the IMM Program. </p>
    </div>
</div>
<div class="card">
    <a href="#">
    
    </a>
    <img src="./img/mobile.jpg"alt="business card" class="">
    <div class="card-container">
        <h3>ENVO Cafe mobile design</h3>
        <p>This was a mobile page mockup made for a website design in the IMM Program. It is the homepage</p>
    </div>
</div>
</section>
